<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/list.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <%- include("nav.html") %>
    


    <ul class="list-group">
        <% posts.map( (item, index) => { %>
            <li class="list-group-item list-item" data-id= "<%= item._id %>">
                <p class ="postTitle">제목 : <%= item.title%></p>
                <p>날짜 : <%= item.date%></p> 
                <button class="btn btn-primary btn_delete" type="submit" data-id= "<%= item._id %>" >Button</button>
            </li>
        <% }) %>
        
        <li class="list-group-item active" aria-current="true">An active item</li>
        
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        const deleteButton = document.querySelectorAll(".btn_delete");
        const listItems = document.querySelectorAll(".list-item");
        // $(.delete).click(function)
        function deletePost(e){
            // console.log(e.target.dataset.id);
            let selected = $(this);
            // console.log()
            $.ajax({
            method : "DELETE",
            url : '/delete',
            data : {_id : e.target.dataset.id}
            

            }).done(function(result){
                console.log("ajax success")
                // console.log($(this).parent("li"));
                
            }).fail(function(){

            });
            $(this).parent('li').addClass("none");
        }

        function moveLink(e){
            console.log(e.target.dataset.id);
            window.location.href = `/detail/${e.target.dataset.id}`;
            
        }
        for (let i of deleteButton){
            i.addEventListener("click", deletePost);
        }
        for (let i of listItems){
            i.addEventListener("click", moveLink);
        }
        // deleteButton.map(item => item.addEventListener("click",deletePost));
        // deleteButton[0].addEventListener("click",deletePost);
    </script>
</body>
</html>
